name: task1
on:
  push:
    branches:
      - main

jobs:
  job1:
    name: 'Job-1'
    runs-on: ubuntu-latest
    steps:
      - name: 'Step-1'
        uses: actions/checkout@v4
      - name: 'Step-2'
        run: |
          echo 'Date is:- '
          echo $date
  
  job2:
    name: 'job-2'
    runs-on: windows-latest
    steps:
      - name: 'Step-1'
        uses: actions/checkout@v4
      - name: 'Step-2'
        run: |
          echo 'date is -'
          ${{Step-2.date}}
  
  job3:
    name: 'job-3'
    runs-on: macos-latest
    steps:
      - name: 'Step-1'
        uses: actions/checkout@v4
      - name: 'Step-2'
        run: |
          echo ' date is- '
          $date
  
  job4:
    needs: [job1,job2,job3]
    name: 'Job-4'
    runs-on: windows-latest
    steps:
      - name: 'Step-1'
        uses: actions/checkout@v4
      - name: 'Step-2'
        run: |
          echo 'Date is:- '
          $date
